<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" th:with="title=${#messages.msg('index.title')}">
<body>
<th:block layout:fragment="body">

    <div th:if="${user==null}">
        <p th:text="#{index.body.annon}">text about anonymous user</p>
        <p><a th:href="@{/login}" th:text="#{index.body.login}">Generated list of login choices</a></p>
        <p><form method="post" th:action="@{/oauth2/authorization/muni}"><button class="btn btn-outline-primary" type="submit">Login MUNI</button></form>
    </div>


    <div th:if="${user}">
        <p th:text="#{index.body.authuser}">text about authenticated user</p>
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">subject</th>
                <td th:text="${user.subject}"></td>
            </tr>
            <tr>
                <th scope="row">name</th>
                <td th:text="${user.fullName}"></td>
            </tr>
            <tr>
                <th scope="row">given_name</th>
                <td th:text="${user.givenName}"></td>
            </tr>
            <tr>
                <th scope="row">family_name</th>
                <td th:text="${user.familyName}"></td>
            </tr>
            <tr>
                <th scope="row">Token link</th>
                <td><a th:href="@{/token}">Token link</a></td>
            </tr>
            <tr>
                <th scope="row">authorities</th>
                <td th:text="${user.getAuthorities()}"></td>
            </tr>
            </tbody>
        </table>
        <p><form method="post" th:action="@{/logout}"><button class="btn btn-outline-primary" type="submit">Logout</button></form></p>
    </div>
</th:block>
</body>
</html>